
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DangNhap</h2>
<form action="/Accounts/DangNhap" method="post">
    <input type="text" name="userName" value="" />
    <input type="text" name="passWord" value="" />
    <input type="submit" name="name" value="Dang Nhap" />
</form>

